<header>
  <h1><%= @presentation.title %></h1>
<button class="fullscreen edit-control"><%= image_tag "icons/play_icon.png", alt: "Present"%></button>
<%= link_to 'New Slide', new_presentation_slide_path(@presentation) %>
</header>
<nav class="thumbnails">
<ol>
<% @slide_nav.each do |slide| %>
  <li><%= link_to simple_format(slide.content), edit_presentation_slide_path(@presentation, slide) %></li>
<% end %>
</ol>
</nav>
<section class="current-slide">
<h1>Edit Slide</h1>
<%= form_for [@presentation, @current_slide] do |f| %>
  <%= f.text_area :content, :autofocus => true, :class => "required-field" %>
  <%= submit_tag "Save" %>
<% end %>
</section>