<!DOCTYPE html>
<html ng-app>
<head>
  <title><%= @presentation ? "#{@presentation.title} - A SimpleDeck Presentation" : "Simple Decks - Create and Share Presentations in Minutes" %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %><p id="notice"><%= notice %></p><% end %>
<%= yield %>
</body>
</html>
